# build output
dist/

# generated Astro types/cache
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production
.env.*.local

# os / editor
.DS_Store
.vscode/
.idea/

# vercel
.vercel/
